In [ ]:
#pandas -- Panel Data
#Any data used for research or study purposes
#Obects -- 1 .Series -- 1 Column Multiple rows
#          2. Data Frame -- multiple rows and columns
# Built on numpy

In [ ]:
import pandas as pd

## Series

In [ ]:
## Creating series using tuple
t=(10,11,12)
d=pd.Series(t)
d

In [ ]:
##  creating series using list
l1=[45,78,56,445,78]
d=pd.Series(l1)
d

In [ ]:
## Creating series with array
import numpy as np
arr=np.array([1,2,3,4])
d1=pd.Series(arr)
d1

In [ ]:
## Using dictionary
d={'a':1,'b':2,'c':3,'d':4}

In [ ]:
d['a']

In [ ]:
b=pd.Series(d)

In [ ]:
b

In [ ]:
b[2]

In [ ]:
b['c']

In [ ]:
## Slicing operation
d=pd.Series(np.arange(10))
d[1:5]

## DataFrame

In [ ]:
data=[['abc',1],['def',2],['ghi',3],['hij'],['klm','5']]

In [ ]:
a=pd.DataFrame(data)

In [ ]:
a

In [ ]:
#d=pd.DataFrame(data,columns=['A','B','C','D','E']) ## chnaging the column

In [ ]:
d=pd.DataFrame(data,columns=['A','B'],index=['A','B','C','D','E'])  ## changing the index

In [ ]:
d

In [ ]:
## dataframe using dictonary
data={'name':['a','b','c','d','e','f'],'age':[45,12,48,25,12,56]}

In [ ]:
d=pd.DataFrame(data)
d

In [ ]:
d.columns=['Candidate','Age_in_years']

In [ ]:
d

In [ ]:
d.rename({'Age_in_years':"Age"},axis=1,inplace=True)

In [ ]:
d

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
pwd

In [ ]:
## reading the data from github
data=pd.read_csv('train.csv')

In [ ]:
pd.read_excel('nameoffile')

In [ ]:
data

In [ ]:
type(data)

pandas.core.frame.DataFrame

In [ ]:
##checking the head part
data.head()  # displays the first 5 rows

In [ ]:
## checking the tail part
data.tail() # last five rows

In [ ]:
data #[1,1,2,3,4,4,5,3,3,3]

In [ ]:
data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [ ]:
data['Pclass'].unique()

array([3, 1, 2])

In [ ]:
data.shape # shape is an attribute of the dataframe

(891, 12)

In [ ]:
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
data['Age']

In [ ]:
## Describe give statistics of numerical variables
data.describe()

In [ ]:
## Describe with 'O' statistics of categorical variables
data.describe(include='O')

                           Name   Sex  Ticket    Cabin Embarked
count                       891   891     891      204      889
unique                      891     2     681      147        3
top     Braund, Mr. Owen Harris  male  347082  B96 B98        S
freq                          1   577       7        4      644

In [ ]:
# laying out all the unique values in that feature/column

In [ ]:
data.head()

In [ ]:
data.loc[data['Age']==80]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
630,631,1,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.0,0,0,27042,30.0,A23,S

In [ ]:
data.loc[(data['Sex']=='male') & (data['Age']>40)]

In [ ]:
#number of females in first class
data.loc[(data['Sex']=='female') & (data['Pclass']==1)]

In [ ]:
#number of females that survived the titanic crash in first class

In [ ]:
data.loc[(data['Sex']=='female')& (data['Pclass']==1) & (data['Survived']==1)]

In [ ]:
data.iloc[np.where(data['Age']==80)]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
630,631,1,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.0,0,0,27042,30.0,A23,S

In [ ]:
data.iloc[np.where((data['Sex']=='male')&(data['Survived']==1))]
#number of males survived titanic using iloc

In [ ]:
data['Age']

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [ ]:
data.Age

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [ ]:
data.Embarked.unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [ ]:
data.columns

In [ ]:
data.Embarked.value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [ ]:
data['Age'].isnull().sum()

In [ ]:
data.isnull().sum()

In [ ]:
data.Sex.value_counts()  # typically for categorical variables

In [ ]:
## Getting the column names
data.columns

In [ ]:
## getting the specific column from the dataframe
data['Survived']

In [ ]:
data.Survived

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [ ]:
pd.set_option('display.max_rows', None) ## displaying all rows

In [ ]:
data

In [ ]:
pd.reset_option('display.max_rows',None)

In [ ]:
data

In [ ]:
pd.set_option('display.max_columns',None) ## display all columns

In [ ]:
## getting multiple columns
data[['Survived','Age','Sex']]

In [ ]:
## want new dataframe which will have columns from  data
d1=data[['Survived','Age','Sex']]

In [ ]:
d1

In [ ]:
##getting specific rows from a specific column
d1[15:30]

In [ ]:
data

In [ ]:
data.iloc[15:30,1:8]

In [ ]:
## searching specific values from dataframe
dff=data.loc[data['Sex']=='female']

In [ ]:
dff

In [ ]:
dff.Survived.value_counts()

1    233
0     81
Name: Survived, dtype: int64

In [ ]:
dff.Age.mean()

27.915708812260537

In [ ]:
df1=data.loc[(data['Age']>65)]

In [ ]:
df1

Majority of survivors were female.
Seniority may not be a condition for survival.

In [ ]:
## task:-Get all paassenger details whose age is greater than 50

In [ ]:
data.loc[data['Age']>50]

In [ ]:
data.iloc[np.where(data['Age']>50)]

In [ ]:
data.loc[(data['Sex']=='female') & (data['Age']<38)]  # both need to be met

In [ ]:
data.loc[(data['Sex']=='female') | (data['Age']<38)]  # either or

In [ ]:
## write the or condition

In [ ]:
d1.loc[d1['Survived']==1]

In [ ]:
data.loc[data['Survived']==1]

In [ ]:
data.head()

In [ ]:
data.head()

In [ ]:
## Creating new column
data['DS']='Data Science'

In [ ]:
## Dropping of the column
data.drop(['DS'],axis=1,inplace=True)  ## axis=0 will refer to row and axis=1 will refer to column

In [ ]:
data.head()

In [ ]:
## Dropping the row
data.drop(1,axis=0)

In [ ]:
## copy as backup
new_data=data.copy()

In [ ]:
new_data

In [ ]:
data.columns

In [ ]:
## Dropping the multiple row
# 1st argument is a list of the row/col indices
data.drop([1,2],axis=0)

In [ ]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

https://pandas.pydata.org/pandas-docs/stable/reference/io.html

In [ ]:
## creating new column using existing coulmns
data['Family']=data['SibSp'] + data['Parch']

In [ ]:
data.head()

In [ ]:
#data.drop(1,axis=0,inplace=True)

## Sorting the dataframe

In [ ]:
data.head()

In [ ]:
## arranging
data.sort_values('Pclass')
# default ascending =True

In [ ]:
## arranging
data.sort_values('Pclass',ascending=False) #,ignore_index=True)

In [ ]:
data

In [ ]:
## arranging
data.sort_values('Pclass',ascending=False,ignore_index=True)

## Grouping the data

In [ ]:
data.groupby(data['Pclass']).count()

In [ ]:
data.groupby(data['Pclass']).max('Fare')

In [ ]:
data.groupby(data['Sex']).mean()

In [ ]:
data.groupby(data['Pclass']).agg({'Fare':'max'})

## Changing the datatype

In [ ]:
data.info()

In [ ]:
data['Age']=data.Age.astype('float16') # type needs tobe specific

In [ ]:
data.info()

In [ ]:
data.head()

In [ ]:
data.info()

In [ ]:
data['Fare']=pd.to_numeric(data.Fare,downcast='float')

In [ ]:
data.info()

In [ ]:
data['Parch']=pd.to_numeric(data.Parch,downcast='integer')
data.info()

In [ ]:
data['SibSp']=pd.to_numeric(data.SibSp,downcast='float')
data.info()

In [ ]:
data.SibSp