# LOOPS
The process of performing a set of tasks iteratively as per requirement is known as looping.

There are two essential loops in Python.

## While Loop

while loop is used to execute a block of statements repeatedly subject to a condition being satisfied.
When the expression of the condition is no longer True, the while loop is exited.

In [3]:
# Simple while loop
i=1 # counter initialized
while i<6: 
    print('While condition is satisfied for',i) # block of code indented
    i=i+1 # incrementer
print("Loop is exited") # outside the while block-of-code

While condition is satisfied for 1
While condition is satisfied for 2
While condition is satisfied for 3
While condition is satisfied for 4
While condition is satisfied for 5
Loop is exited

In [4]:
print("Even numbers between 0 and 10:")
c=0
while c<11:
    print(c)
    c+=2 # operator += equivalent to incrementing by 2

Even numbers between 0 and 10:
0
2
4
6
8
10

In [6]:
nums = [25,40,25,80,75,25,88,25,24,25,77,25,56,25,10,25]
print(nums)
print(nums.count(25))

[25, 40, 25, 80, 75, 25, 88, 25, 24, 25, 77, 25, 56, 25, 10, 25]
8

Remove instances of 25 from the number list such that the count reduces from 8 to 5.

In [ ]:
# while loop with break statement
# break command stops the loop prematurely

while 25 in nums: # membership check
    nums.remove(25) 
    c = nums.count(25)
    if c==5:
        break # exits the while loop without further checks
        
print(nums)
print("Count of 25s in the list is now",c)

In [12]:
# While loop with continue statement.
i=0
while i<8:
    i+=1 # incrementer provided early
    sq = i**2
    if 10<sq<30:
        print("*********Iteration skipped here*******")
        continue
    print(f"Square of {i} = {i**2}")

Square of 1 = 1
Square of 2 = 4
Square of 3 = 9
*********Iteration skipped here*******
*********Iteration skipped here*******
Square of 6 = 36
Square of 7 = 49
Square of 8 = 64

In [2]:
# While loop with else statement
i=3
while i<6:
    i+=1
    print(i)

else:
    print('While loop condition is false')

4
5
6
While loop condition is false

In [3]:
count = 1
while (count < 3):
    count = count + 1
    print("Data science")

Data science
Data science

In [7]:
# Identify whether a given number is prime or composite
num=int(input("Enter a number"))
i=1 # iterator
count=0 # no. of factors
while i<=num/2:
    if num%i==0:
      count += 1
    i += 1
      
if count==1:
  print("Prime")
else:
  print("Composite")

Enter a number 161

Composite

## For Loop

_for_ loops are used to loop through an iterable object; typically a list, tuple or set.

The set of operations will be then performed for each item of the sequence.

In [12]:
count=[10,12,3,14,25,16,7,8,9,34]
for c in count:
    print(c)

10
12
3
14
25
16
7
8
9
34

Notice that the counter points to each item in order and executes the block of code.
There is no initialisation or incrementing required in a for loop.

In [ ]:
fruits=['Apple','Banana','Mango','Watermelon']
for i in fruits:
    print(i)

In [14]:
s='#12th Main Road'
for i in s:
    print(i) # string is a variable made up of characters in sequence

#
1
2
t
h

M
a
i
n

R
o
a
d

In [15]:
# Separating the above string by spaces
for i in s.split():
    print(i)

#12th
Main
Road

In [ ]:
## Range function
for i in range(10):
# range is a generator function which
#yields numbers from specified start to end point
    print(i)

In [ ]:
for i in range(1,20,2):
    # lower limit,upper limit,step
    print(i)

In [ ]:
# Nested loops
a=['red','blue','green']
b=['Apple','Banana','Orange']
for i in a: ## outer loop
    for h in b: ## inner loop
        print(i,h)

In [19]:
# Another example of nesting
course=['Maths','Data Science','Economics','Social Sciences']
size=[78,90,56,90] # size of batches A,B,C,D
batch=('A','B','C','D')

In [20]:
for i in course: # Outer loop
    for k in size: # inner loop
        b_loc=size.index(k)
        b = batch[b_loc]
        print(f"Batch {b} of size {k} shall attend {i}")

Batch A of size 78 shall attend Maths
Batch B of size 90 shall attend Maths
Batch C of size 56 shall attend Maths
Batch B of size 90 shall attend Maths
Batch A of size 78 shall attend Data Science
Batch B of size 90 shall attend Data Science
Batch C of size 56 shall attend Data Science
Batch B of size 90 shall attend Data Science
Batch A of size 78 shall attend Economics
Batch B of size 90 shall attend Economics
Batch C of size 56 shall attend Economics
Batch B of size 90 shall attend Economics
Batch A of size 78 shall attend Social Sciences
Batch B of size 90 shall attend Social Sciences
Batch C of size 56 shall attend Social Sciences
Batch B of size 90 shall attend Social Sciences

# Functions

A function is a block of organized code written to carry out a specified task. A function may or may not return data.

Functions help break a program into smaller and modular chunks for better readability. 

Parameters are specified after the function name inside the parentheses.

We can add as many parameters as needed, separated by comma. 
In Python a function is defined using the def keyword

#### Parameter vs Argument

A parameter is the variable listed inside the parentheses in the function definition. An argument is the value that is sent to the function when it is called.

## Three types of functions in Python:-

1) Built-in function :- Python predefined functions that are readily available for use like min() , max() , sum() , print() etc.

2) User-Defined Functions:- Function that we define ourselves to perform a specific task.

3) Anonymous functions : Function that is defined without a name. Anonymous functions are also called as lambda functions. They are not declared with the def keyword.

1) Python Function with no argument and no return value.

2) Function with no argument and with a Return value.


3) Python Function with argument and No Return value.

4) Function with argument and return value.

In [ ]:
#  Syntax Definition of function
def name_of_function():
    print('Hello')

In [ ]:
# Syntax Calling the function
name_of_function(45)

In [ ]:
## create a function with name as your name
##and which print your name

In [ ]:
def area_of_circle(r):
    area=3.14*r*r
    print(area)

In [ ]:
area_of_circle(2)

In [ ]:
def perimeter_of_square(side):
    peri=4*side
    print(peri)

In [ ]:
side=4
side=5

In [ ]:
perimeter_of_square(5)

In [ ]:
def rectangle(l,b):
    area=l*b
    return area

In [ ]:
rectangle(1,2)

In [ ]:
def  details(name,userid,country):
    #  Function  to  print  User  details
    print('Name :- ', name)
    print('User ID is :- ', userid)
    print('Country  :-  ',country)

In [ ]:
details('Data', 'Data123' , 'India')

Task:-Write function to get a number from users and check
whether given number is odd or even

In [ ]:
number()

In [ ]:
def evenorodd():
    a=int(input('Enter your number'))
    if a%2==0:
        print('The number is even')
    else:
        print('The number is odd')

In [ ]:
evenorodd()

In [ ]:
##Python Function with no argument and no return value

def noargument():
    print()

In [ ]:
noargument(4)

In [ ]:
## Function with no argument and with a Return value
def argu():
    print('This is no argument but return value function')

In [ ]:
argu(6)

In [ ]:
##Python Function with argument and No Return value

def noreturn(a): ## a is parameter or input to the function
    print()

In [ ]:
noreturn(6)

### Docstrings:
1)	Docstrings provide a convenient way of associating documentation with functions,
classes, methods or modules.

2)	They appear right after the definition of a function, method, class, or module.

In [ ]:
## Function with argument and return value
def squareofnum(a):
      '
    return a**2

In [ ]:
squareofnum(10)

In [ ]:
q=squareofnum(10)

In [ ]:
print(q)

In [ ]:
print(squareofnum.__doc__)

In [ ]:
Area of circle,perimeter of circle,perimeter of rectangle and square

In [ ]:
def areaofcircle():
    r=float(input('Enter radius:'))
    return 3.14*r*r

In [ ]:
areaofcircle()

## Lambda

 1) A lambda function is an anonymous function (function without a name).

 2) Lambda functions can have any number of arguments but only one expression.
 The expression is evaluated and returned.

 3) We use lambda functions when we require a nameless function for a short period of time.

![image.png](attachment:image.png)

In [ ]:
addition = lambda  a : a  + 10
# This lambda function adds value 10 to an argumentb

In [ ]:
print(addition(8))

In [ ]:
product  =  lambda  a,  b  :  a  *  b
#This  lambda  function  takes  two  arguments  (a,b)
#and do the multiplication
print(product(5,  6))

## Filter Function

The filter() method filters the given sequence with the help of a function that tests each element in the sequence to be true or not.

In [ ]:
# a list contains both even and odd numbers.
seq = [0, 1, 2, 3, 5, 8, 13]

# result contains odd numbers of the list
result = filter(lambda x: x % 2 != 0, seq)
print(list(result))

# result contains even numbers of the list
result = filter(lambda x: x % 2 == 0, seq)
print(list(result))

[1, 3, 5, 13]
[0, 2, 8]

## Map Function

map() function returns a map object(which is an iterator) of the results
after applying the given function to each item of a given
iterable (list, tuple etc.)

In [ ]:
# Return double of n
def addition(n):
    return n + n

# We double all numbers using map()
numbers = (1, 2, 3, 4)
result = map(addition, numbers)
print(list(result))

[2, 4, 6, 8]

In [ ]:
# Double all numbers using map and lambda
  numbers = (1, 2, 3, 4)
result = map(lambda x: x + x, numbers)
print(list(result))

In [ ]:
print(list(result))

In [ ]:
# Add two lists using map and lambda

numbers1 = [1, 2, 3]
numbers2 = [4, 5, 6]

result = map(lambda x, y: x + y, numbers1, numbers2)
print(list(result))

[5, 7, 9]

In [ ]:
# List of strings
l = ['sat', 'bat', 'cat', 'mat']

# map() can listify the list of strings individually
test = list(map(list, l))
print(test)

[['s', 'a', 't'], ['b', 'a', 't'], ['c', 'a', 't'], ['m', 'a', 't']]

## Reduce Function

The reduce(fun,seq) function is used to apply a particular function passed in
its argument to all of the list elements mentioned in the sequence passed
along.This function is defined in “functools” module.

In [ ]:
# importing functools for reduce()
import functools

# initializing list
lis = [1, 3, 5, 6, 2]

# using reduce to compute sum of list
print("The sum of the list elements is : ", end="")
print(functools.reduce(lambda a, b: a+b, lis))

The sum of the list elements is : 17

In [ ]:
# using reduce to compute maximum element from list
print("The maximum element of the list is : ", end="")
print(functools.reduce(lambda a, b: a if a > b else b, lis))

The maximum element of the list is : 6