In [5]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [2]:
pd.read_csv('iris_dataset')

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [3]:
iris = pd.read_csv('iris_dataset')

In [4]:
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [7]:
y = iris[['sepal_length']]

In [8]:
x = iris[['sepal_width']]

In [11]:
x_train, x_test, y_train, y_test =  train_test_split(x,y, test_size = 0.3)

In [14]:
x_train.head()

     sepal_width
133          2.8
52           3.1
29           3.2
101          2.7
16           3.9

In [15]:
x_test.head()

     sepal_width
17           3.5
118          2.6
34           3.1
58           2.9
110          3.2

In [16]:
y_train.head()

     sepal_length
133           6.3
52            6.9
29            4.7
101           5.8
16            5.4

In [17]:
y_test.head()

     sepal_length
17            5.1
118           7.7
34            4.9
58            6.6
110           6.5

In [18]:
from sklearn.linear_model import LinearRegression

In [19]:
lr = LinearRegression()

In [27]:
lr.fit(x_train,y_train)

LinearRegression()

In [26]:
y_predict = lr.predict(x_test)

In [23]:
from sklearn.metrics import mean_absolute_error

In [28]:
mean_absolute_error(y_test, y_predict)

0.7491048438549838


# model 2